.text-muted {
  color: var(--text-muted);
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.mt-1 {
  margin-top: 12px;
}

.mt-2 {
  margin-top: 24px;
}

.mt-3 {
  margin-top: 40px;
}