* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
  overflow-x: hidden;
}

h1, h2, h3 {
  letter-spacing: -0.3px;
}

p {
  line-height: 1.7;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


html {
  scroll-behavior: smooth;
}
