/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  color: var(--neon-green);
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar nav a {
  margin-left: 24px;
  font-size: 0.95rem;
  opacity: 0.8;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: var(--neon-green);
  opacity: 1;
}

/* BUTTON */
.btn-primary {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 28px;
  background: var(--accent-blue);
  color: #000;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: var(--glow-blue);

  position: relative;
  overflow: hidden;
}

.btn-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}



.btn-primary:hover::after {
  transform: translateX(100%);
}

.btn-primary:hover {
  transform: translateY(-3px) scale(1.05);
}




.btn-secondary {
  margin-top: 24px;
  padding: 12px 28px;
  border-radius: 30px;
  border: 1px solid var(--accent-blue);
  color: var(--accent-blue);
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background: var(--accent-blue);
  color: #000;
  box-shadow: var(--glow-blue);
}




/* HERO BUTTON GROUP */
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

/* Mobile: stack nicely */
@media (max-width: 600px) {
  .hero-buttons {
    flex-direction:column;
    align-items: flex-start;
  }

  .btn-secondary {
    margin-left: 0;
  }
}

