/* ================= LIGHTBOX ================= */

.lightbox {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.88);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;

  z-index: 9999;
}

.lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

.lightbox img {
  max-width: 90%;
  max-height: 85%;

  border-radius: 18px;
}